{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "import", "unused-imports"],
  "settings": { "react": { "version": "detect" } }, // React version. "detect" automatically picks the version you have installed.
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:react/recommended", "prettier"],
  "rules": {
    "prettier/prettier": 2,
    // auto arrange importing orders
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        // "newlines-between": "always",
        "groups": ["builtin", "external", "parent", "sibling", "index"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["builtin"]
      }
    ],
    "react/display-name": "off",
    "react/prop-types": "off",
    "@typescript-eslint/no-unused-vars": "off"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
