node_modules

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/js-safe-annotated
/build
.idea

# misc files
.DS_Store
client/lib/angular-config
.env
cypress.env.json

yarn-error.log

.next